<div class="cart-page">

    <div class="cart-page--item-list">

    </div>

    <div class="confirmation-page--button-group">
        <div class="cart-page--confirm-button">
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored base--action">
              <i class="material-icons">done</i>
            </button>
        </div>
        <div class="cart-page--cancel-button"> 
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
              <i class="material-icons">clear</i>
            </button>
        </div>
    </div>
</div>