<main id="" class="confirmation-page">
    <h2 class="confirmation-page--item-name">
        Item Name
    </h2>
    <div src="http://fillmurray.com/200/200" alt="" class="confirmation-page--item-image"></div>
    <div class="confirmation-page--item-cost"><i class="material-icons">attach_money</i> <span class="item-cost--value">5.00</span></div>
    <div class="confirmation-page--item-count">
        <span class="item-count--value">1</span>
        <div class="confirmation-page--button-group--FLOAT">
            <div class="confirmation-page--up-arrow">   
                <button class="mdl-button mdl-js-button mdl-button--icon">
                  <i class="material-icons">keyboard_arrow_up</i>
                </button>
            </div>
            <div class="confirmation-page--down-arrow">   
                <button class="mdl-button mdl-js-button mdl-button--icon">
                  <i class="material-icons">keyboard_arrow_down</i>
                </button>
            </div>
        </div>
    </div>

    <div class="confirmation-page--button-group">
        <div class="confirmation-page--confirm-button">
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored base--action">
              <i class="material-icons">done</i>
            </button>
        </div>
        <div class="confirmation-page--cancel-button"> 
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
              <i class="material-icons">clear</i>
            </button>
        </div>
    </div>
</main>