$mrtoast-bg: $secondary-gradient;

.mr-toast {

    &.open {
        transform: translateY(-25%);
        opacity: 1;
    }

    z-index: 5;
    z-index: 5;

    padding: $container-padding;

    font-size: 2rem;
    // opacity: 0;
    // transform: translateY(100%);

    transition: opacity $cubic-slower, transform $cubic-slower;

    background: $primary-bg;

    @extend %shadow;
    top: 50%;
    transform: translateY(1000%);
    position: fixed;
    @extend .base--a;
    width: 100vw;

    &--message {
            background-image: linear-gradient(90deg,#2ecc71 0%,#27ae60 100%);
            box-sizing: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
    }

    &--emoji {
        margin-top: $vertical-margin;
        width: 100%;
        text-align: center;
        -webkit-text-fill-color: initial;
    }
}
