$quagga-def-height: 640px;
$quagga-def-width: 480px;

.quagga {
    &--viewport {
        border-radius: 10px;

        @include center();
        @include size($quagga-def-height, $quagga-def-width);

        video {
            position: absolute;
            &::after {
                width: 100%;
                height: 100%;

                content: "";

                background: linear-gradient(to top, rgba(white, 1), rgba(white, 0));
            }
        }
        canvas {
            position: absolute;
        }
    }
}
